:root {
    --primary-color: #4975a2;
    --light-blue: #83b8ee;
    --background-color: #1e3955;
    --haeder-font-color: #553e15;
    --text-font-color: #a28149;
}

body {
    font-family: Arial, Courier, serif;
}
main {
    background-color: var(--background-color);
}
nav{
    padding: 1vh;
    font-size: 24px;
}


.blue {
    background-color: var(--primary-color);
}
.dark-blue {
    background-color: var(--background-color);
}
.light-blue {
    background-color: var(--light-blue);
}
.light-brown {
    color: var(--text-font-color);
}
.dark-brown {
    color: var(--haeder-font-color);
}
.image-of-work{


}
.image-of-work img{
    width: 100%;
    height: 100%;
}

.to-right{
    margin:4vh;
}

.row{
    padding: 2vh;
}
.no-bullets {
    list-style-type: none; /* Removes the bullet points */
    padding-left: 0; /* Removes default left padding */
}
.show-box {
    background-color: var(--light-blue);

}
.fit-images-in-shape img{
    height: 5vw;
    width: auto;
}


#player iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media (min-width: 144px) {
    #player {
        height: 18vh;
        position: relative;
        overflow: hidden;
    }
}
@media (min-width: 768px) {
    #player {
        height: 25vh;
        position: relative;
        overflow: hidden;
    }
}
@media (min-width: 1200px) {
    #player {
        height: 54vh;
        position: relative;
        overflow: hidden;
    }
}