:root {
    --primary-color: #4975a2;
    --secondary-color: #83b8ee;
    --background-color: #1e3955;
    --haeder-font-color: #553e15;
    --text-font-color: #a28149;
}

body{
    font-family: Arial, Courier, serif;
}
header{
    background-color: var(--background-color);
}


/* Responsive container */
.video-container {
    position: relative;
    width: 100%;
    max-width: 960px; /* Limit the width */
    margin: 0 auto; /* Center it horizontally */
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
}

/* Style the iframe */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}